---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

title: "Tennis"
layout: Layout
description: "This is the tennis page."
---

<Layout title="Tennis • George">
	<main>
		<head>
			<meta name="viewport" content="initial-scale=1, width=device-width">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
			<title>Welcome!</title>
		</head>
		<body class="body">
			<div class="container">
				<h1 class="size text-gradient">Tennis</h1>
				<a class="homepage-button" role="link" href="/">Homepage</a>
				<a role="link" href="/hobbies" class="btn back-button btn-outline-secondary">Back</a>
				<div class="tennis-page">
					<h2 class="ftimes indigo centered">My Tennis Journey</h2>
					<p>I started playing tennis quite late, only seriously playing starting in my sophomore year. I had little talent and struggled a lot with even basic groundstrokes.
						Since those beginnings, I've played every year on the school's varsity team and in a nearby tennis club and have grown tremendously in such a short period.
						 Similarly to chess, tennis has taught me the importance of consistent practice and that anything is possible with enough effort.</p>
					<h2 class="ftimes indigo centered">My Favorite Tennis Youtube Channel</h2>
					<h4 class="centered"><a href="https://www.youtube.com/@IntuitiveTennis" class="ftimes" target="_blank">Intuitive Tennis</a></h4>
					<p class = "centered ftimes">Intuitive Tennis is great youtube channel to watch for tennis improvement and for knowledge on the sport. 
						It is made by Nikola Aracic, a former D1 player and longtime coach. He uses his many decades of competitive and 
						coaching experience to explain tennis mechanics and tactics in the most intuitive way. Ever since I started watching him, 
						my tennis was improved dramatically and he helped me get rid of my bad technique and habits. 
						I urge anyone interested in tennis to watch Intuitive Tennis.</p>    
				</div>	
			</div>
		</body>
	</main>
</Layout>

<style>
	.size {
		font-size: 4em !important;
	}

	.tennis-page {
		font-family: 'Montserrat', sans-serif;
		padding: 20px;
		text-align: center;
		border: 2px solid #000; 
		padding: 20px; 
		border-radius: 10px; 
		background: linear-gradient(135deg, #e2ddc3, #bea550); 
		color: rgb(72, 52, 92);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	}

	.tennis-page h1 {
		font-size: 2.5em;
		margin-bottom: 20px;
	}

	.tennis-page p {
		font-size: 1.2em;
		line-height: 1.6;
	}

	.tennis-page .content {
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
</style>
