---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Chess • George">
	<main>
		<head>
			<meta name="viewport" content="initial-scale=1, width=device-width">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
			<title>Welcome!</title>
		</head>
		<body>
			<div class="container">
				<h1 class="size text-gradient">Chess</h1>
				<a class="homepage-button" role="link" href="/">Homepage</a>
				<a role="link" href="/hobbies" class="btn back-button btn-outline-secondary">Back</a>
				<div class="chess-page">
					<h2 class="small colored">My Chess Journey</h2>
					<p>I started playing chess pretty late, when I was 15. I had little natural talent, so my early months of playing were marred by losses and generally low progress, 
						staying at the bottom of the ELO ratings. I eventually dedicated myself to improvement and have since reached the top 3% of chess players by rating. My journey has
						taught me the virtue of patience and practice, and I hope to eventually reach an ELO of 2000 on chess.com.</p>   
				</div>
				<h2 class="text-gradient">Favorite Openings</h2>
				<h3 class="text-gradient small vienna">Vienna Gambit (White)</h3>
				<h3 class="text-gradient small port">Portugese Gambit (Black)</h3>
				<div class="boards">
					<p class="text-gradient descriptions1">
						The Vienna gambit begins 1. e4 e5 2. Nc3 Nf6 3. f4. When accepted, it gives an extremely easy position to pressure with and ultimately win. Unfortunately, stronger
						players will always reject taking the pawn, but even still it leads to interesting and complex games.
					</p>
					<table class="chess-board">
						<tbody>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<td class="light">♜</td>
								<td class="dark">♞</td>
								<td class="light">♝</td>
								<td class="dark">♚</td>
								<td class="light">♛</td>
								<td class="dark">♝</td>
								<td class="light"></td>
								<td class="dark">♜</td>
							</tr>
							<tr>
								<td class="dark">♟</td>
								<td class="light">♟</td>
								<td class="dark">♟</td>
								<td class="light">♟</td>
								<td class="dark"></td>
								<td class="light">♟</td>
								<td class="dark">♟</td>
								<td class="light">♟</td>
							</tr>
							<tr>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark">♞</td>
								<td class="light"></td>
								<td class="dark"></td>
							</tr>
							<tr>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark">♟</td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
							</tr>
							<tr>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light">♙</td>
								<td class="dark">♙</td>
								<td class="light"></td>
								<td class="dark"></td>
							</tr>
							<tr>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark">♘</td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
							</tr>
							<tr>
								<td class="light">♙</td>
								<td class="dark">♙</td>
								<td class="light">♙</td>
								<td class="dark">♙</td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light">♙</td>
								<td class="dark">♙</td>
							</tr>
							<tr>
								<td class="dark">♖</td>
								<td class="light"></td>
								<td class="dark">♗</td>
								<td class="light">♕</td>
								<td class="dark">♔</td>
								<td class="light">♗</td>
								<td class="dark">♘</td>
								<td class="light">♖</td>
							</tr>
						</tbody>
					</table>
					<p class="hide">...................................................................................</p>
					<table class="chess-board">
						<tbody>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<td class="light">♖</td>
								<td class="dark">♘</td>
								<td class="light">♗</td>
								<td class="dark">♕</td>
								<td class="light">♔</td>
								<td class="dark">♗</td>
								<td class="light">♘</td>
								<td class="dark">♖</td>
							</tr>
							<tr>
								<td class="dark">♙</td>
								<td class="light">♙</td>
								<td class="dark">♙</td>
								<td class="light">♙</td>
								<td class="dark"></td>
								<td class="light">♙</td>
								<td class="dark">♙</td>
								<td class="light">♙</td>
							</tr>
							<tr>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
							</tr>
							<tr>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
							</tr>
							<tr>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light">♙</td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
							</tr>
							<tr>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark">♞</td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
								<td class="dark"></td>
								<td class="light"></td>
							</tr>
							<tr>
								<td class="light">♟</td>
								<td class="dark">♟</td>
								<td class="light">♟</td>
								<td class="dark">♟</td>
								<td class="light"></td>
								<td class="dark">♟</td>
								<td class="light">♟</td>
								<td class="dark">♟</td>
							</tr>
							<tr>
								<td class="dark">♜</td>
								<td class="light"></td>
								<td class="dark">♝</td>
								<td class="light">♚</td>
								<td class="dark">♛</td>
								<td class="light">♝</td>
								<td class="dark">♞</td>
								<td class="light">♜</td>
							</tr>
						</tbody>
					</table>
					<p class="text-gradient descriptions2">
						The Portugese gambit begins 1. e4 d5 2. exd5 Nf6. It yields very novel positions that most opponents are unprepared for, especially since almost everyone who plays
						d5 in response to e4 plays the Scandanavian instead by taking the pawn back with the queen, making the Portugese a powerful subversion.
					</p>
				</div>
			</div>
		</body>
	</main>
</Layout>

<style>
	.vienna {
		position: fixed;
		top: 505px !important;
		left: 520px !important;
	}
	.port {
		position: fixed;
		top: 505px !important;
		left: 1150px !important;
	}

	.descriptions1 {
		font-size: 15px;
		position: fixed;
		padding: 10px;
		border: 2px solid #ffffff;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		top: 61.5% !important;
		left: 12.5% !important;
		width: 200px !important;
		
	}

	.descriptions2 {
		position: fixed;
		font-size: 15px;
		padding: 10px;
		border: 2px solid #ffffff;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		top: 61% !important;
		left: 77% !important;
		width: 200px !important;
		display: flex;
		
	}

	.size {
		font-size: 4.6em !important;
	}

	.small {
		font-size: 22px !important;
	}

	.boards {
		display: flex !important;
		flex-direction: row !important;
	}

	.chess-board { border-spacing: 0; border-collapse: collapse;}
            .chess-board th { padding: .5em; }
            .chess-board th + th { border-bottom: 1px solid #000; }
            .chess-board th:first-child,
            .chess-board td:last-child { border-right: 1px solid #000; }
            .chess-board tr:last-child td { border-bottom: 1px solid; }
            .chess-board th:empty { border: none; }
            .chess-board td { width: 1.4em; height: 1.4em; text-align: center; font-size: 30px; line-height: 0;}
            .chess-board .light { background: #eee; }
            .chess-board .dark { background: #aaa; }
 
	.chess-page {
		font-family: 'Playfair Display', serif;
		padding: 20px;
		text-align: center;
		border-radius: 10px; 
		border: 2px solid #000; 
		font-size: 15px;
		background: linear-gradient(135deg, #ffffff, #525355); 
		color: rgb(3, 3, 3);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	}

	.chess-page h1 {
		font-size: 3em;
		margin-bottom: 20px;
	}

	.chess-page p {
		font-size: 1.3em;
		line-height: 1.6;
	}

	.chess-page .content {
		margin: 0 auto;
		padding: 30px;
	}
	.colored {
		color: rgb(104, 88, 68);
	}
</style>
